@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3 id="companyName">@ViewData["Message"]</h3>

<address id="PhysicalAddresses">
    1600-12 Utica Avenue South, STE 800<br />
    St. Louis Park, MN 55416<br />
    <abbr title="Phone">P:</abbr>
    877.277.1044
</address>

<address id="EmailContact">
    <strong>Info:</strong> <a href="mailto:info@magenic.com">info@magenic.com</a><br />
</address>